::-webkit-scrollbar {
	width: 7px;
  	height: 7px;
}
::-webkit-scrollbar-button {
  	width: 0px;
  	height: 0px;
}
::-webkit-scrollbar-thumb {
  	background: #e1e1e1;
  	border: 0px none #ffffff;
  	border-radius: 50px;
}
::-webkit-scrollbar-track {
  	background: #666666;
  	border: 0px none #ffffff;
  	border-radius: 50px;
}
::-webkit-scrollbar-corner {
  	background: transparent;
}

.open > .dropdown-menu {
	-webkit-transform: scale(1,1);
			transform: scale(1,1);
}

.dropdown-menu {
	-webkit-transform: scale(1, 0);
	-webkit-transform-origin: top;
			transform-origin: top;
	-webkit-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
	-webkit-transition: all 0.2s ease-out;
			transition: all 0.2s ease-out;
	display: block;
}

.dropup .dropdown-menu {
	-webkit-transform-origin: bottom;
			transform-origin: bottom;  
}

.dropup > .dropdown-menu:after {
	border-bottom: 0;
	border-top: 6px solid rgba(39, 45, 51, 0.9);
	top: auto;
	display: inline-block;
	bottom: -6px;
	content: '';
	position: absolute;
	left: 50%;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
}

.site-content {
	padding-top: 10em;
}

.header img {
    max-width: 100%;
}

/* Now unused */
.home-icon {
	width: 200px;
	height: 200px;
}

.center {
	margin-left: auto;
  	margin-right: auto;
  	margin-top: 3px;
  	margin-bottom: 3px;
  	text-align: center;
}

.text-float-left {
	text-align: left;
	overflow: auto;
}
.text-float-right {
	text-align: right;
	overflow: auto;
}

/* Now unused */
.row div {
	/*background: #e7a61a;
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border: 3px solid #000000;*/
}